body {
	background-color: #bdbbbb;
}

.container {
	text-align: center;
}

.wallpaper {
	width: 100%;
	position: relative;
}

.form-group {
	padding-top: 0.5%;
	position: relative;
}

.form-fromto {
	position: relative;
	text-align: center;
	max-height: 330px;
	padding: 0;
	margin: 0 auto;
}

.form-fromto .form-control {
	position: relative;
	display: inline-block;
	font-size: 16px;
	width: auto;
	padding: 5px;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

.form-fromto .form-control: focus {
	z-index: 2;
}

.form-fromto input[type="text"] {
	width: 350px;
}

.form-fromto .thumb_up {
	background: no-repeat url(images/searchbutton.png) 0 0;
	width: 30px;
	height: 30px;
	border: 0;
	position: relative;
}

.marketing {
	padding-left: 15px;
	padding-right: 15px;
}

.marketing .col-lg-4 {
	text-align: center;
	margin-bottom: 20px;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-left: 10px;
	margin-right: 10px;
}

.featurette-divider {
  margin: 10px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}