body {
	padding-top: 50px;
	padding-left: 320px;
	background-color: #204977;
}

.navbar-fixed-top {
	background-color: #bdbbbb;
	height: 50px;
	text-align: left;
	border: 0;
}

.navbar-fixed-top .navbar-header {
	height: 50px;
}

.navbar-fixed-top .navbar-header .navbar-brand {
	padding-top: 5px;
	padding-left: 0;
}

.navbar-fixed-top .navbar-form input[type="text"] {
	width: 300px;
	font-size: 16px;
	position: relative;
}

.navbar-fixed-top .navbar-form .thumb_up {
	background: no-repeat url(images/searchbutton.png) 0 0;
	width: 30px;
	height: 30px;
	border: 0;
	position: relative;
}

.sideNav {
	padding: 10px 0;
    position: fixed;
    left: 0px;
    right: 76%;
    top: 50px;
    bottom: 0px;
    background-color: #bdbbbb;
    border: 0;
    text-align:left;
    font-size:11px;
    font-weight:bold;
}

.sideNav .container .directions {
	background-color: #bdbbbb;
	
	position: absolute;
	left: 5%;
	right: 5%;
	top: 10%;
	bottom: 30%;
	overflow: auto;
	
}

.sideNav .container .total {
	background-color: #bdbbbb;
	
	position: absolute;
	left: 5%;
	right: 5%;
	top: 71%;
	overflow: auto;
	
}

.map {
	position: absolute;
	left: 24%;
	right: 0;
	top: 50px;
	bottom: 0;
	background-color: #eee;
}

.map .thumb_up {
	background: no-repeat url(images/lights3.png) 0 0;
	width: 125px;
	height: 207px;
	border: 0;
	position: absolute;
	bottom: 0;
}