body {
	padding-top: 50px;
	background-color: #204977;
}

.navbar-fixed-top {
	background-color: #eee;
}

.navbar-fixed-top .navbar-header {
	height: 50px;
}

.navbar-fixed-top .navbar-header .navbar-brand {
	padding-top: 5px;
}

.navbar-fixed-top .navbar-form input[type="text"] {
	width: 300px;
	font-size: 16px;
	position: relative;
	left: -20px;
}

.navbar-fixed-top .navbar-form .thumb_up {
	background: no-repeat url(images/searchbutton.png) 0 0;
	width: 30px;
	height: 30px;
	border: 0;
	position: relative;
	top: -5px;
	left: -20px;
}

.carousel {
	width: 1150px;
	height: 500px;
	margin-left: 110px;
}

.carousel-caption {
	z-index: 10;
}

.carousel .item {
	height: 500px;
	background-color: #204977;
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

.carousel .thumb_up {
	background: no-repeat url(images/lights3.png) 0 0;
	width: 125px;
	height: 207px;
	border: 0;
	position: absolute;
	top: 290px;
}

.navbar-fixed-bottom {
	height: 150px;
	text-align: left;
	border-top-color: #204977;
	background-color: #204977;
}

.navbar-fixed-bottom .carousel {
	width: 950px;
	height: 150px;
	left: -113px;
}

.navbar-fixed-bottom .carousel .item {
	height: 150px;
	background-color: #eee;
	text-align: left;
}

.navbar-fixed-bottom .carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 150px;
}

.navbar-fixed-bottom .navbar-collapse {
	width: 1148px;
	background-color: #eee;
}

.navbar-fixed-bottom .navbar-collapse .form-total {
	padding: 15px;
	margin: 0 auto;
	left: 1060px;
	
	background-color: #eee;
	
}