html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{margin:0;
padding:0;
border:0;
font-family:Century Gothic,arial,sans-serif;
font-size:100%;
vertical-align:baseline;}

html
{line-height:1}

ol,ul
{list-style:none}

table
{border-collapse:collapse;
border-spacing:0}

caption,th,td
{text-align:left;
font-weight:normal;
vertical-align:middle}

q,blockquote
{quotes:none}

q:before,q:after,blockquote:before,blockquote:after
{content:"";
content:none}

a img
{border:none}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
{display:block}

strong
{font-weight:500}

.clearfix
{content:"";
display:table;
clear:both}

body.mapmode {
overflow:hidden;}

body.mapmode #rail, body.mapmode #train, body.mapmode #horizontalroad, body.mapmode #trafficpost, body.mapmode #bus, body.mapmode #jeepney{
display: none;
}

body.mapmode header
{top:0;
left: 0;
height: 70px;}

body.mapmode header h1
{ background: no-repeat url(../images/juandirection-tagline.png) 0 0;
	background-size: auto 100%;
	background-position: bottom left;
	width: 100%;
	height: 90%;
position: absolute;
top:5%;
left:1%;
margin:0;
padding:0;}


body.mapmode header h2
{opacity:0}


body.mapmode #search-container
{position: absolute;
top:0;
left:40%;
margin-right:0;
padding-right:0;
height: 70px;
width:60%;}

body.mapmode #search-container h3,body.mapmode #search-container h4
{display:none}

body.mapmode #search-container input[type="text"]
{width:300px}

body.mapmode #search-container #search
{width:100%;
top:10px;
left:0;
margin-right:0;
padding-right:0;}

body.mapmode #search-container #from
{	position: absolute;
	top:0;
	right: 44%;}

body.mapmode #search-container #to
{	position: absolute;
	top:0;
	right: 5.5%;}

body.mapmode #search-container #swap
{display:block;
top:12px;
right:41.5%;}

body.mapmode #search-container #get-route
{	position: absolute;
	top:1px;
right:0;}

body.mapmode #search-container .view-toggle
{display:none}

body.mapmode #home
{display: none;
height:0}

body.mapmode #do-things
{height:0;
padding-top:0}

body.mapmode #map-container
{top: 70px;
display: block;
right: 0;
opacity: 1;}

body.mapmode #sidebar
{top: 70px;
display: block;
left:0;
opacity:1}

body,html
{height:100%;

font-family:Century Gothic,arial,sans-serif;}

.hidden
{display:none}

.fix-later
{display:none}

.container
{margin:0 auto;
width:960px;
position:relative}

header
{-webkit-transition:height 0.85s,border 0.85s;
transition:height 0.85s,border 0.85s;
height:50%;
padding-top:1px;
position:relative;
text-align:center;
overflow:hidden}

header h1,header h2
{transition:0.85s all;
-webkit-transition:0.85s all;
text-align:center}

header h1
{
background: no-repeat url(../images/juandirection-tagline.png) 0 0;
background-size: 100% auto;
	background-position: top left;
	position:absolute;
top:30%;
left:35.5%;
width:30%;
height: 100%;
cursor:pointer}

header h2
{margin-top:210px;
font-weight:100;
color:#eee;
font-size:26px}

header h2 p:nth-child(2)
{margin-top:4px;
font-size:22px}

header h2 p:nth-child(2) strong
{font-weight:500;
text-shadow:0 1px 2px rgba(0,0,0,0.5)}

@-moz-keyframes pan
{from
{-moz-transform:translateX(0);
transform:translateX(0)}

to
{-moz-transform:translateX(1024px);
transform:translateX(1024px)}

}

@-webkit-keyframes pan
{from
{-webkit-transform:translateX(0);
transform:translateX(0)}

to
{-webkit-transform:translateX(1024px);
transform:translateX(1024px)}

}

@-o-keyframes pan
{from
{-o-transform:translateX(0);
transform:translateX(0)}

to
{-o-transform:translateX(1024px);
transform:translateX(1024px)}

}

@keyframes pan
{from
{transform:translateX(0)}

to
{transform:translateX(1024px)}

}

#search-container
{position:absolute;
top:33%;
left:0;
height:100%;
width:100%;
-webkit-transition:all 0.85s;
transition:all 0.85s}

#search-container *
{-webkit-transition:all 0.85s;
transition:all 0.85s}

#swap
{width:24px;
height:24px;
padding:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
background:#5498af;
border:0;
border-radius:50%;
display:none;
position:absolute}

#search
{position: relative;
	text-align: center;
	max-height: 330px;
	padding: 0;
	margin: 0 auto;}

#search input[type="text"]
{
font-family:Century Gothic,arial,sans-serif;
font-weight:300;
font-style: bold;
font-size: 18px;
width:400px;
padding:12px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
border:0;
border-radius:8px;
background: #204977;
color:white}

#search input[type="text"]::-webkit-input-placeholder
{color:white}

#search input[type="text"]::-moz-placeholder
{color:white}

#search input[type="text"]:-ms-input-placeholder
{color:white}

#from
{position: relative;}

#to
{position: relative;}

#get-route
{position:relative;
background: no-repeat url(../images/search.png) 0 0;
background-size: 100% auto;
background-position: top left;
	width: 50px;
	height: 50px;
	border: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:0;
	border-radius:8px;
}

.view-toggle
{position:relative;
opacity:0.7;
margin-top:10px;
cursor:pointer;
font-size: 15px;
transition:0.1s all}

.view-toggle:hover
{opacity:1;
text-decoration:underline}

.landinginfo
{width:100%;
font-weight:100;
color:#fff;
font-size:18px}

.landinginfo h4
{color:#e57c48;
margin-bottom:30px}

#map
{-webkit-transition:0.4s -webkit-filter;
transition:0.4s filter;
min-height:300px;
height:100%}

#temp-load
{display:none;
position:absolute;
z-index:100;
background:rgba(255,255,255,0.8);
border-radius:8px;
font-size:26px;
opacity:0;
font-weight:100;
vertical-align:middle;
text-align:center;
top:50%;
left:50%;
line-height:100px;
margin-top:-50px;
margin-left:-150px;
width:300px;
height:100px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-transform:scale(1.25);
-webkit-filter:blur(2px);
box-shadow:0 0 8px rgba(0,0,0,0.5)}

#map-container
{position:absolute;
top: 70px;
width: 70%;
height: 90%;
-webkit-transition:0.85s all;
transition:0.85s all;
right: -70%;
color:#fff;
padding:0;
opacity:0;
overflow:hidden}

#home
{-webkit-transition:0.85s all;
transition:0.85s all;
overflow:hidden}

#home section
{padding-top:11px}

section h3
{font-weight:100;
font-size:32px;
margin:22px 0}

#do-things
{-webkit-transition:0.85s all;
transition:0.85s all;
height:410px;
overflow:hidden;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
padding-top:9px}

#sidebar
{position:absolute;
top: 70px;
width:30%;
height: 90%;
-webkit-transition:0.85s all;
transition:0.85s all;
left:-30%;
color:#fff;
padding:0;
opacity:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
overflow:hidden;
overflow-y:scroll;
background: white;}

#sidebar h3
{font-size:21px;
font-weight:100;
margin:4px 0 15px 0}

#routes
{margin:0;
padding:10px;
	background-color:  #204977;}

#routes li
{
font-size: 12pt;
-webkit-transition:all 0.2s;
transition:all 0.2s;
cursor:pointer;
list-style:none;
margin-bottom:10px;
border-left:2px solid #fff;
padding-left:9px}

#routes li .info
{display:inline-block;
font-weight:100}

#routes li .badge
{display:inline-block;
font-size:75%;
padding:3px;
margin-bottom:6px;
color:#fff;
font-weight:700;
border-radius:2px;
color:#fff;
border:1px solid #fff}

#routes li:hover
{padding-left:18px}

#routes li.selected
{color:#fff}

#routes li.selected .info
{color:#fff}

#routes li.selected .badge
{background:#fff;
color:#5498af;
border:1px solid transparent}

#itinerary
{position:relative;
color:#204977;
margin:0;
padding:5px;}

#itinerary p1
{font-size:8pt;}

#itinerary li
{color:#204977;
font-weight:300;
-webkit-transition:all 0.2s;
transition:all 0.2s;
cursor:pointer;
list-style:none}

#itinerary li .step
{position:relative;
min-height:92px;
padding:1px}

#itinerary li .dot
{position:absolute;
top:0;
left:0;
height:25px;
width:50px;}

#itinerary li .body
{position:relative;
padding-left:50px;
width:calc(100% - 50px);
font-size: 12pt;}

#itinerary li .main
{line-height:20px}

#itinerary li ul
{margin:10px 0 10px 10px;
border-left:1px solid #204977;
padding-left:8px}

#itinerary li ul li
{margin-bottom:6px}

#itinerary li ul li:last-child
{margin-bottom:0}

#itinerary li .walk .dot
{
background: no-repeat url(../images/walk.png) 0 0;
background-size: auto 100%;
background-position: top left;}

#itinerary li .bus .dot
{
background: no-repeat url(../images/bus.png) 0 0;
background-size: auto 100%;
background-position: top left;}

#itinerary li .jeep .dot
{
background: no-repeat url(../images/jeepney.png) 0 0;
background-size: auto 100%;
background-position: top left;}

#itinerary li .lrt1 .dot, #itinerary li .lrt2 .dot, #itinerary li .mrt3 .dot
{
background: no-repeat url(../images/train.png) 0 0;
background-size: auto 100%;
background-position: top left;}

#itinerary li:last-child .line
{display:none}

#itinerary li.selected
{color:#fff}

#itinerary li.selected .info
{color:#fff}

#itinerary li.selected .badge
{background:#fff;
color:#5498af;
border:1px solid transparent}

#itinerary button
{font-family:Century Gothic,arial,sans-serif;
position:absolute;
font-size:14px}

#print-button
{background: no-repeat url(../images/print.png) 0 0;
background-size: auto 100%;
background-position: top right;
top:10px;
right:6px;
height: 20px;
width: 50px;
border:none;
cursor:pointer}

.pico-content p.tracking
{font-weight:100;
font-size:14px;
line-height:20px;
padding:20px}

.pico-content p.tracking:nth-child(1)
{border-radius:10px 10px 0 0;
background:#f4f4f4}

.pico-content p.tracking.no
{background:#eee}

.pico-content p.tracking.opt
{background:#ddd}

.pico-content p.tracking.check
{background:#bbb;
border-radius:0 0 10px 10px;
font-weight:500}

#print
{display:none}

#showmap
{	
display: none;}

#showroutes
{
display: none;}

body.mapmode #showroutes
{	
background: no-repeat url(../images/back.png) 0 0;
	background-size: auto 100%;
	background-position: bottom right;
	height: 100%;
	width: 10%;
position: absolute;
top: 0;
right: 0;
border: none;
display: none;
visibility:hidden;}

body.mapmode #showmap
{	
background: no-repeat url(../images/map.png) 0 0;
	background-size: auto 100%;
	background-position: bottom right;
	height: 100%;
	width: 10%;
position: absolute;
top: 0;
right: 0;
border: none;
display: none;
visibility:hidden;}